.input {
  margin: 15px;
  min-width: 70%;
  max-width: 85%;
  height: 35px;
  border: none;
  border-radius: 10px;
  text-align: center;
  outline: none;
  font-size: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.194);
  color: #464a45;
  background: #00b4db; /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(45deg, #fcfcfc, #f5f5f5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(45deg, #fcfcfc, #f5f5f5);
}
